@layout('layouts/auth')

@section('content')
  <form action="{{ route('auth.passwordResets.store') }}" method="POST">
    <div>
        <label for="email" class="form-label">Insira o E-mail da conta</label>
        <input class="form-control" type="email" name="email" placeholder="E-mail">
    </div>
    <button class="btn btn-success" type="submit">Enviar</button>
  </form>
@endsection
