main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__container {
    width: 400px;
    /* height: auto; */
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
